@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #8839ef;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2em;
  padding-bottom: 2em;
}

.container {
  background-color: #301934;
  text-align: center;
  border-radius: 0.75em;
  padding: 1em;
  max-width: 600px;
  width: 35vw;
  flex-direction: column;
}

h1 {
  color: white;
  margin-bottom: 0.5em;
}

.container>div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
  gap: 0.5em;
}

.text-input {
  font-size: 1em;
  flex-grow: 1;
  width: auto;
  margin-bottom: 0;
  outline: none;
  color: gray;
  background: none;
  border: 0.1em solid gray;
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.add-entry-button {
  margin-bottom: 1em;
  color: white;
  background-color: #8839ef;
  padding: 0.6em;
  font-size: 1em;
  border: none;
  cursor: pointer;
  border-radius: 0.2em;
  white-space: nowrap;
  flex-shrink: 0;
}

ul {
  list-style: none;
  margin-top: 1.5em;
  margin-bottom: 0;
  padding: 0;
  flex-grow: 1;
  text-align: left;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  background-color: #8839ef;
  padding: 0.75em 1em;
  border-radius: 5px;
}

.todo-entry {
  color: white;
  cursor: pointer;
  flex-grow: 1;
  margin-right: 0.5em;
  word-break: break-word;
}

.entry-button {
  color: white;
  border-radius: 0.2em;
  border: none;
  cursor: pointer;
  margin-bottom: 1em;
  font-size: 1em;
}

.todo-entry.completed {
  text-decoration: line-through;
  color: lightgreen;
}

.entry-button#delete {
  background-color: red;
  padding: 0.2em;
  margin-bottom: 0;
  flex-shrink: 0;
}

.entry-button#save-changes {
  color: black;
  background-color: lightgreen;
  padding: 0.7em;
  margin-top: 2em;
  margin-bottom: 0;
  width: 100%;
}

.entry-button#signup {
  margin-top: 2em;
  margin-bottom: 0;
  background-color: #8839ef;
  padding: 0.7em;
  width: 100%;
}

.entry-button#login {
  color: black;
  background-color: lightgreen;
  padding: 0.7em;
  margin-top: 1em;
  margin-bottom: 0;
  width: 100%;
}

.small-link {
  color: cyan;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 1em;
}
